my-dag {
  display: block;
  .dag-container {
    background: #eoeoeo;

    .dag-node {
      height: 100px;
      width: 100px;
      border: 2px solid #eee;
      padding: 10px;
      display: inline-block;
    }
  }
}
